<% provide :nav_name, "Описание курса" %>

<h2>Добро пожаловать на сайт курса!</h2>
<h3>Структура</h3>
<p>
  Курс состоит из следующих модулей:
  <ul>
    <% @groups.each do |group| %>
      <li><%= group.name %></li>
    <% end %>
  </ul>
  В каждом модуле содержатся лабораторные, правильность выполнения которых проверяется автоматически.
</p>
