<h1>
  Курс "Парадигмы и технологии программирования: основы Ruby"
</h1>
<nav>
  <div class="topnav" data-controller="navbar">
    <%= nav_link 'Описание курса', course_url %>
    <%= nav_link 'Лабораторные', labs_url %>
  </div>
</nav>